<!DOCTYPE html>
<html>
  <%= render "layouts/head"%>
  <body>
    <%= render "layouts/header"%>
    <div class="container">
      <%# 成功・エラー文表示 %>
      <% if flash[:notice] %>
        <div class="notifications">
          <div class="notice"><%= flash[:notice] %></div>
        </div>
      <% elsif flash.now[:alert] %>
        <div class="notifications">
          <div class="alert"><%= flash.now[:alert] %></div>
        </div>
      <% else %>
      <% end %>
        <p id="notice"><%= notice %></p> <!--デバイスでnotice設定されているので呼び出してるだけ-->
      <%= yield%>
    </div>
  </body>
</html>
